.content {
  max-width: 900px;
}

@media (max-width: 950px) {
  .content {
    max-width: 90%;
  }
}

header {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--linear);
}

header .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .content .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .content .title h1 {
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
}

header .content .search {
  width: 100%;
  height: 65px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .search input {
  width: calc(100% - 30px);
  height: 100%;
  border: none;
  background-color: initial;
  color: var(--white);
  font-size: 1.125rem;
}

header .content .search input::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.5);
}

header .content .search input:-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.5);
}

header .content .search input::-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.5);
}

header .content .search input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.5);
}

header .content .search img {
  height: 30px;
  width: 30px;
  margin: 0 17px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content {
  width: 100%;
  height: 100%;
  padding: 100px 0;
}

main .content article {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
}

main .content article + article {
  margin-top: 50px;
}

main .content article .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  color: var(--text);
  margin-bottom: 20px;
}

main .content article .card-header i {
  font-size: 1.5625rem;
  color: var(--blue-dark);
}

main .content article h1 {
  font-size: 1.625rem;
  font-weight: normal;
  color: var(--title);
  margin-bottom: 8px;
}

main .content article p {
  font-size: 1.125rem;
  color: var(--text);
  line-height: 32px;
}
/*# sourceMappingURL=style.css.map */